ion-title {
  text-align: center;
  padding: 10px 0;
  position: relative;
}

ion-searchbar {
  padding: 20px;
}

#container {
  margin: 0 10px;
  background-color: white;
  padding: 0;
}

ion-label {
  p {
    color: #b7b7b7 !important;
  }
}
